
.container{
    margin-top: 20px;
    padding: 2px 16px;
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin-left: 10%;
    position: relative;
}
.card{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    width: 25%;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 30px;
    border: 1px solid rgb(196, 193, 193);
    margin: 25px;
    border-radius: 20px;
    max-height: 100vh;
    position: relative;
}
.image{
    border-radius: 20px;
}
@media only screen and (max-width: 768px){
    .card{
        flex-direction: row;
        align-items: center;
        width: 80%;
    }
}